# Don't want to track logs
logs.*
*.log
*/logs

# Don't want to track databases
*.db-shm
*.db-wal
*.db


organizr/config/www/organizr/

# Transmission
transmission/downloads/*
transmission/config/crontabs/*
transmission/config/resume/*
transmission/config/torrents/*

# Sonarr
sonarr/config/logs
sonarr/config/MediaCover
sonarr/config/logs.*
sonarr/config/sonarr.*
sonarr/data/*
sonarr/tv/*
sonarr/config/Backups/

# Plex
plex/config/Library/Application Support/Plex Media Server/
plex/transcode
plex/config/Library

# Jackett
jackett/config/Jackett/log.txt

# Organizr
organizr/config/log/*

# Readarr
readarr/config/logs/*
readarr/config/Backups/
readarr/config/logs/

# Radarr
radarr/movies/*
radarr/config/Backups/
radarr/config/logs/
radarr/config/MediaCover

# Audiobook Shelf
audiobokshelf/metadata/logs
audiobokshelf/config/*.sqlite
